@import "../../styles/font";

.loginTxt {
    text-align: center;
    margin-top: 40px;
    @include title();
}
.loginForm {
    padding: 0px;
    @include inputReset();
    .center {
        margin: 0 auto;
    }
    .space {
        margin-top: 10px;
    }
    .loginBtnWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .recover {
        text-align: center;
        font-size: 12px;
        a {
            text-decoration: none;
            color: $primary-color;
        }
        a:hover {
            color: $hover-color;
        }
    }
}
