@import "../../styles/font";

.submitBtn {
    @include primaryBtn(270px);
    margin: 10px auto;
    font-size: $mobile-font;
    .spin {
        padding-left: 40px;
        position: absolute;
    }
}
.submitBtn:hover {
    @include primaryBtnHover();
}
.submitBtn:focus {
    @include primaryBtnFocus();
}
.submitBtn:active {
    @include primaryBtnActive();
}

@media (min-width: 768px) {
    .submitBtn {
        font-size: $desktop-font;
    }
}
